<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') %>
</head>
<body>
    <%- include('./components/loading.ejs') %>
    <div class="container">
        <%- include('./components/header.ejs') %>

        <main class="main">
            <h2 class="about-title">Политика конфиденциальности</h2>
            <article class="privacy-container">
                <p class="privacy-text">
                    Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую «Productivity» и/или его аффилированные лица, включая все лица, входящие в одну группу с «Productivity», могут получить о Пользователе во время использования им любого из сайтов, сервисов, программ, продуктов или услуг Сервиса и в ходе исполнения Сервисом любых соглашений и договоров с Пользователем.
                </p>
                <p class="privacy-text">
                    Согласие Пользователя с Политикой, выраженное им в рамках отношений с одним из перечисленных лиц, распространяется на все остальные перечисленные лица.
                </p>
                <p class="privacy-text">
                    Использование Сервисов означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сервисов.
                </p>
                <p class="privacy-text">
                    Сервис Productivity.ru может автоматически собирать навигационную информацию («Лог данные»), созданную посредством вашего использования Сервиса Productivity.ru. «Лог данные» могут включать в себя информацию, такую как тип браузера, операционная система, разрешение экрана, IP-адрес, местоположение, веб-страница перехода, посещенные страницы, или тому подобное. Сервис Productivity.ru автоматически получает «Лог данные», когда вы посещаете и взаимодействуете с Сервисом Productivity.ru, для обеспечения и улучшения Сервиса, для администрирования вашего пользования Сервисом Productivity.ru, и для того, чтобы дать возмоность вам наслаждаться и легко ориентироваться Сервисом Productivity.ru. Сервис Productivity.ru может использовать IP-адреса посетителей для борьбы со спамом и вредоносными программами. Сервис Productivity.ru использует «Google Analytics» для того, чтобы собирать, мониторить и анализировать «Лог данные» в целях повышения функциональности Сервиса Productivity.ru и удобства для пользователя, и для того, чтобы лучше приспособить Сервис к потребностям посетителей. Сервис Productivity.ru также использует эту информацию, чтобы убедиться, что посетители Сервиса удовлетворяют критериям, необходимым, чтобы обрабатывать свои запросы. «Google Analytics» имеет свою собственную политику конфиденциальности, доступную на <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>.
                </p>
                <p class="privacy-text">
                    Если у вас есть любые вопросы по поводу этих условий или другой информации, пожалуйста, свяжитесь с помощью Формы обратной связи (<a href="/contact">http://localhost:800/contact</a>).
                </p>
            </article>
        </main>
    
        <%- include('./components/footer.ejs') %>

        <div class="modals-container"></div>
    </div>

    <%- include('./components/scripts.ejs') %>
    <link rel="stylesheet" href="policy.css">
</body>
</html>